<!doctype html>
<html>
    <head>
        <style>
body {
        background-color: lightgray;
}

li {
        font-size: 200%;
        margin-left: 20px;
        margin-bottom: 20px;
}
        </style>
    </head>
<body>
    <center><h1>Dreamland SSH panel</h1></center>
{% if targets %}
    <ul>
    {% for name, info in targets.iteritems() %}
    <li>
    <a style="color: {% if info['connected'] %}green{% else %}red{% endif %};" href="ssh://{{ address }}">{{name}} - {{info['address']}}</a></li>
    {% endfor %}
{% endif %}

</body>
</html>
